body{
	background-color:black;
}

.show_portals {
  color: white;
}
.spawn-pointer{
  position: relative;
	left:-8;
	top:-16;
	width: 16;
  height: 16;
  z-index: 2;
}
.portal-pointer{
  position: absolute;
	left:-12;
	top:-24;
	width: 24;
  height: 24;
  z-index: 3;
}
.tooltip {
  width: 90px;
  background-color: grey;
  font-size: smaller;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  bottom: 125%;
  left: 50%;
  margin-left: -45px;
  visibility: hidden;  
  cursor: default;
}

.mob-image{
  max-height:50px;
  aspect-ratio: auto;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.portal-pointer:hover .tooltip {
  visibility: visible;
}
.spawn-pointer:hover .tooltip {
  visibility: visible;
}
